# SLACK BOT
SLACK_BOT_TOKEN=slack-bot-token
SLACK_SIGNING_SECRET=slack-signing-secret

# OPENAI
OPENAI_API_KEY=openai-api-key

# SERVER
FLASK_APP=src/index.py
FLASK_RUN_HOST=localhost
FLASK_RUN_PORT=3000